<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dotma Soundboard</title>
        <meta name="description" content="Sounds of Dotma">
        <meta name="author" content="aXises">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="node_modules/reset-css/reset.css">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="msapplication-config" content="favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <main id="app">
            <div class="align-horizontal">
                <p>If you see this please enable JavaScript</p>
            </div>
        </main>
        <footer class="align-horizontal align-vertical">
            <p>DOTMA PRODUCTIONS 2019</p>
        </footer>
    </body>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    <script src="/javascript/webpack.bundle.js"></script>
</html>